@import url("./variables.css");
@import url("./general.css");
header {
    background-color: var(--color-Amarillo);
    font-size: 12px;
    margin: 0%;
    padding-bottom: 10px;
    padding-left:  10px;
}
.header__busqueda{
    display: inline-block;                /* Convierte el elemento en bloque */
    
    left: 10px;                    /* Lo coloca a la izquierda con un margen de 10px */
    top: 20px;                     /* Ajusta la distancia desde la parte superior */
    background-color:var(--color-GrisClaro);       /* Fondo blanco alrededor de la lupa */
    padding: 1px;                 /* Espacio alrededor del ícono */
    border: 1px solid var(--color-GrisOscuro);       
  
}
.header__menu {

    display: flex;
    /* Flexbox para centrar el contenido */
    justify-content: center;
    /* Centra horizontalmente el ícono */
    align-items: center;
    /* Centra verticalmente el ícono */
    width: 50px;
    /* Ancho del cuadrado */
    height: 50px;
    /* Altura del cuadrado, igual al ancho */
    background-color: var(--color-Celeste);
    /* Color de fondo del cuadrado */
    border-radius: 5px;
    /* Bordes redondeados opcionales */
    margin: 0 auto;
    /* Centrar el cuadrado en la página */
    font-size: 24px;
    /* Tamaño del ícono */

}
.header__logo{
 display: block;
    width: 100px;
    height: 50px;
    padding-left: 20px;
    padding-top: 20px;
    size: 40px;
}

body {
    background-color: var(--color-GrisClaro);
margin: 0;
  padding:0
}

.body__roboto__thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

main {
   
    background-color: var(--color-GrisClaro);


}

.main__section__a {
    background-color: var(--color-GrisOscuro);
    font-size: 24px;
}

#precios {
    font-size: 18px;
}

#descuentos {
    font-size: 16px;
}

#descripciones {
    font-size: 16px;
}

footer {
    background-color: var(--color-GrisClaro);
    font-size: 12px;
   
}
.footer__section{
    display: inline-block;

}


.titulo_footer {
    font-style: normal;
}




/*Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px*/