<!DOCTYPE html>
<html lang="en">
<head><h1>ALAN TURING</h1>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alan Turing</title>
</head>
<body> <img src="/images/alan_turing.jpg" alt="Aqui  está uma imagem de Alan Turing" width="100" height="100">

    <h4>Alan Turing en 1936 en la Universidad de Princeton. Es considerado como uno de los padres de la ciencia de la computación y precursor de la informática moderna. Proporcionó una formalización influyente de los conceptos de algoritmo y computación: la máquina de Turing.</h4>
</body>
</html>