<!DOCTYPE html>
<html lang="en">
  <head><h1>BERNERS-LEE</h1>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BERNERS-LEE</title>
  </head>
  <body> <img src="/images/berners_lee.jpg" alt="aqui deberia haber una imagen de berners_lee" width="100" height="100">
    <h4>
      Berners-Lee empezó a desarrollar la World Wide Web en 1989. Creó el primer
      navegador y el primer servidor web, que permitían a los usuarios acceder a
      la información a través de Internet. También desarrolló HTML, el lenguaje
      utilizado para crear páginas web.
    </h4>
  </body>
</html>
