<!DOCTYPE html>
<html lang="en">
<head><h1>CLARKE</h1>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarke</title>
</head>
<body> <img src="/images/arthur_C_Clarke.jpg" alt="Imagen de Arthur C. Clarke" width="100" height="100">
    <h4>Arthur C. Clarke, fue un escritor y científico británico, autor de obras de divulgación científica y de ciencia ficción como 2001: Una odisea del espacio, El centinela o Cita con Rama, así como coguionista de la película 2001: Una odisea del espacio basada en su novela homónima.</h4>
</body>
</html>