<!DOCTYPE html>
<html lang="en">

<head>
    <h1>ALEXANDER HAMILTON</h1>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HAMILTON</title>
</head>

<body><img src="/images/alexander_hamilton.jpg" alt="Imagen de Alexander Hamilton" width="100" height="100">
    <h4>Alexander Hamilton, designado en 1789, a los 34 años, primer secretario del Tesoro de Estados Unidos en el
        primer gobierno de George Washington, merece considerarse como el creador del Estado Desarrollador.</h4>

</body>

</html>