<!DOCTYPE html>
<html lang="en">
<head><h1>HOPPER</h1>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOPPER</title>
</head>
<body> <img src="/images/hopper.jpg" alt="Imagen de  Hopper" width="100" height="100">

    <h4>Hopper fue la primera persona en refererirse a un problema con el ordenador como bug y en usar el término “debug”. En 1949, se uniría a la Eckert-Mauhly Computer Corporation como matemático senior para trabajar en el ordenador electromecánico UNIVAC. Fue la creadora del primer compilador de ordenadores en 1952</h4>
    
</body>
</html>