<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Héroes Tecnológicos</title>
</head>
<body>
    <h1>HÉROES TECNOLÓGICOS</h1>
    <H2>Para la construcción de este pequeño sitio web se espera contar con la posibilidad de acceso a las siguientes URLs:</H2>
    <ul type = "square">
        <li><a href="/babbage">Informacion acerca de babbage</a></li>
        <li><a href="/clarke">Informacion acerca de clarke</a></li>
        <li><a href="/berners-lee">Informacion acerca de berners-lee</a></li>
        <li><a href="/hamilton">Informacion acerca de hamilton</a></li>
        <li><a href="/hopper">Informacion acerca de hopper</a></li>
        <li><a href="/lovelace">Informacion acerca de lovelace</a></li>
        <li><a href="/turing">Informacion acerca de turing</a></li>
    </ul>
</body>
</html>
