@import url("./variables.css");
@import url("./general.css");

body {
    background-color: var(--color-GrisClaro);
    margin: 0;
    padding: 0;

}

.body__roboto__thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

header {
    background-color: var(--color-Amarillo);
    font-size: 12px;
    margin: 0%;
    padding-bottom: 20px;
    width: 100vw;
}
.header__section{  /*ACA ESTOY TRABAJANDO*/
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    padding-top: 10px;
}
.header__logo {

    top: 40px;
    right: 40px;
}

.header__logo img {
    width: 50vw;
    height: 75px;
}

.header__busqueda {

    left: 10px;
    top: 20px;
    margin-left: 20px;
    color: var(--color-GrisOscuro);
    width: 50vw;
}

.header__busqueda__art {
    background-color: var(--color-GrisClaro);
    padding: 1px;
    border: 1px solid var(--color-GrisClaro);
    display: inline-block;
    border-radius: 10%;
}

.header__compra {
    display: block;
    text-align: center;
    padding: 10px 0px 0px;
}
.header__compra a{
    text-decoration: none;
}
.header__enlaces {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
}

.header__enlaces nav {
    width: 100%;
    display: none;

}

.header__enlaces ul {
    padding: 0;
    margin-bottom: 10px;
    list-style: none;

}

.header__enlaces a {
    text-decoration: none;
}

.header__menu {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--color-Celeste);
    border-radius: 5px;
    margin: 0 auto 0px;
    font-size: 24px;
    color: var(--color-GrisClaro);

}


main {

    background-color: var(--color-GrisClaro);

    margin: 0 auto;

}

.main__section__ventas { /*ACA ME ESTOY COPIANDO*/
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    gap: 10px;
}

.main__div {
    margin-bottom: 10px;
    width: 100%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.main__div__article {
    border-top: 1px solid var(--color-GrisClaro);
    padding: 15px;
    background-color: #ffff;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
  
}
.main__div__precioDescuento{
    display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px
}

.main__div__article i {
    color: var(--color-Verde);
    border: 1px solid var(--color-Verde);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    position: absolute;
    display: block;
    right: 20px;
    top: -15px;
    background-color: #ffff;
}


.section-title {
    color: var(--color-GrisOscuro);
    font-size: 24px;
    text-align: left;
    margin: 20px;
}

.main__section__ventas h2 {
    padding: 20px 0;
    margin: 0 auto 0 0;
}

#precios {
    font-size: 18px;
    width: 50%;
}

#descuentos {
    font-size: 16px;
    width: 50%;
    color: var(--color-Verde);
}

#descripciones {
    font-size: 16px;
}

footer {
    background-color: #ffff;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    padding-bottom: 10px;
    position: relative;
    margin-top: 10px;
}

.footer__section {
    text-align: center;
    margin-bottom: 30px;
}

.footer__section i {
    font-size: 2em;
    color: var(--color-Celeste);
    margin-bottom: 10px;
}

.footer__copyright {
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-align: left;
    margin: 0;
}

@media (min-width: 381px)
/* TABLET */
    {
    #descripciones {
        display: block;
    }

    header {
        padding-bottom: 1px;
    }
    .header-top{
     /*FALTA TERMINAR DE AJUSTAR EL HEADER EN TABLET Y DESKTOP*/
    }
    .header__enlaces nav {
        display: flex;
        justify-content: space-between;

    }
    .header__enlaces ul{
        display: flex; 
        padding: 0;
        margin: 0;
    }
    .header__enlaces ul li {
        margin-right: 20px;
    }
    .header__menu {
        display: none;
    }

    .header__compra {
        padding: 10px 0px 30px;
    }
    .main__section__ventas {
        flex-direction: row;
        justify-content: space-between;
    }
    .main__div {
        width: 48%;
        margin-bottom: 0px;
        box-sizing: border-box;
    }
}


@media (min-width: 769px)
/* DESKTOP */
    {
    #descripciones {
        display: block;

    }

    header {
        padding-bottom: 1px;
    }

    .header__enlaces nav {
        display: flex;
        justify-content: space-between;

    }
    .header__enlaces ul{
        display: flex; 
        padding: 0;
        margin: 0;
    }
    .header__enlaces ul li {
        margin-right: 20px;
    }

    .header__compra {
        padding: 10px 0px 30px;
    } 
    .main__section__ventas {
        justify-content: space-between;
        flex-direction: row;
    
    }
    .main__div {
        width: 23%;
        margin-bottom: 0px;
    }

}