<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mercado Liebre puerta 18</title>
  <link rel="stylesheet" href="/styles/styles.css">

</head>

<body>

  <header>
    <a href="/"> <img src="/images/logo-mercado-liebre.svg" alt=""></a>
    <div>lugar para poner barra de busqueda</div>
    <div>
      <p>Compra en cuotas y sin tarjeta de crédito</p>
      <nav>
        <ul>
          <li><a href="/">OFERTAS</a></li>
          <li><a href="/"> Tiendas Oficiales</a></li>
          <li><a href="/"> Vender</a></li>
          <li><a href="/">Ayuda</a></li>
        </ul>
        <ul>
          <li><a href="/">Creá Tu Cuenta</a></li>
          <li><a href="/">Ingresá</a></li>
          <li><a href="/">Mis Compras</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <img width="100%" src="\images\img-home-banner.jpg" alt="" />
    <section>
      <p><a class="secciones">
          <h2>Basado en tu última visitas</h2>
        </a></p>
      <div>
        <article>
          <img width="100%" src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" />
          <p>$6.770</p>
          <p>40% OFF</p>
          <p>Cafetera Moulinex</p>
        </article>
      </div>
      <div>
        <article>
          <img width="100%" src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" />
          <p>$230.000</p>
          <p>20% off</p>
          <p>MacBook Pro 2019</p>
        </article>
      </div>
      <div>
        <article>
          <img width="100%" src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" />
          <p>$70.500</p>
          <p>10% off</p>
          <p>Samsung Galaxy S10</p>
        </article>
      </div>
      <div>
        <article>
          <img width="100%" src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart" />
          <p>$23.200</p>
          <p>5% off</p>
          <p>SmartTV Samsung 43"</p>
        </article>
      </div>
    </section>
    <section>
      <p><a class="secciones">
          <h2>Sección de Ofertas</h2>
      </p></a>
      <div>
        <article>
          <img width="100%" src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" />
          <p>$6.770</p>
          <p>40% OFF</p>
          <p>Cafetera Moulinex</p>
        </article>
      </div>
      <div>
        <article>
          <img width="100%" src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" />
          <p>$230.000</p>
          <p>20% off</p>
          <p>MacBook Pro 2019</p>
        </article>
      </div>
      <div>
        <article>
          <img width="100%" src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" />
          <p>$70.500</p>
          <p>10% off</p>
          <p>Samsung Galaxy S10</p>
        </article>
      </div>
      <div>
        <article>
          <img width="100%" src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart" />
          <p>$23.200</p>
          <p>5% off</p>
          <p>SmartTV Samsung 43"</p>
        </article>
      </div>
    </section>
  </main>
  <footer>
    <section>
      <p><a class="titulo_footer">
          Pagá con tarjeta o en efectivo</a></p>
      <a class="parrafo_uno">
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
        en puntos de pago. ¡Y siempre es seguro!
      </a>
    </section>
    <section>
      <h4>Envío gratis desde $ 2.500
      </h4>
      <p>Solo por estar registrad@ en Mercado Liebre tenés
        envíos gratis en miles de productos. Es un
        beneficio de Mercado Puntos.</p>
    </section>
    <section>
      <p><a class="titulo_footer">
          Seguridad, de principio a ﬁn
        </a></p>
      <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no
        hay nada que no puedas hacer, porque estás
        siempre protegid@</p>
    </section>
    <section>
      <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </section>
  </footer>
</body>

</html>