<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mercado Liebre puerta 18</title>
  <script src="https://kit.fontawesome.com/c65f2f1cc8.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">

</head>

<body class="body" class="body__roboto__thin"> <!--aqui inserte la tipografia a toda la pagina-->

  <header>
    <div class="header__logo">
      <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo_mercado_liebre">
      </a>
    </div>
    <div class="header__busqueda">
      <article class="header__busqueda__art">
      lugar para poner barra de busqueda</article>
      <article class="header__busqueda__art"></article>
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    </article>
    <a class="header__compra" href="/"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de
      crédito</a>
    <div class="header__enlaces">
      <nav>
        <ul>
          <li><a href="/">Ofertas</a></li>
          <li><a href="/"> Tiendas Oficiales</a></li>
          <li><a href="/"> Vender</a></li>
          <li><a href="/">Ayuda</a></li>

          <li><a href="/">Creá Tu Cuenta <i class="fa-regular fa-address-card"></i></a></li>
          <li><a href="/">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
          <li><a href="/">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>
      </nav>
    </div>
    <div class="header__menu">
      <i class="fa-solid fa-bars">
      </i>
    </div>

  </header>

  <main>
    <section>
      <img width="100%" src="\images\img-home-banner.jpg" alt="" />
    </section>
    <section class="main__section__ventas">
      <p><a class="main__section__a">
          <h2>Basado en tu última visita</h2>
        </a></p>
      <div class="main__div">
        <img width="100%" src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" />

        <article class="main__div__article">

          <i class="fa-solid fa-truck"></i>
          
          <div class="main__div__precioDescuento">
          <p id="precios">$6.770</p>
          <p id="descuentos">40% OFF</p>
         </div>
          <p id="descripciones">Cafetera Moulinex</p>
        </article>
      </div>
      <div class="main__div">

        <img width="100%" src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" />

        <article class="main__div__article">
          <i id="envios" class="fa-solid fa-truck"></i>

          <div class="main__div__precioDescuento"> 
          <p id="precios">$230.000</p>
          <p id="descuentos">20% off</p>
          </div>
          <p id="descripciones">MacBook Pro 2019</p>
        </article>
      </div>
      <div class="main__div">
        <img width="100%" src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" />
        <article class="main__div__article">


          <i id="envios" class="fa-solid fa-truck"></i>
          <p id="precios">$70.500</p>
          <p id="descuentos">10% off</p>
          <p id="descripciones">Samsung Galaxy S10</p>
        </article>
      </div>
      <div class="main__div">
        <img width="100%" src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart" />

        <article class="main__div__article">
          <i id="envios" class="fa-solid fa-truck"></i>
          <p id="precios">$23.200</p>
          <p id="descuentos">5% off</p>
          <p id="descripciones">SmartTV Samsung 43"</p>
        </article>
      </div>
    </section>
    <section class="main__section__ventas">
      <p><a class="main__section__a">
          <h2>Sección de Ofertas</h2>
      </p></a>
      <div class="main__div">

        <img width="100%" src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" />

        <article class="main__div__article">
          <i id="envios" class="fa-solid fa-truck"></i>
          <p id="precios">$6.770</p>
          <p id="descuentos">40% OFF</p>
          <p id="descripciones">Cafetera Moulinex</p>
        </article>
      </div>
      <div class="main__div">
        <img width="100%" src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" />

        <article class="main__div__article">
          <i id="envios" class="fa-solid fa-truck"></i>
          <p id="precios">$230.000</p>
          <p id="descuentos">20% off</p>
          <p id="descripciones">MacBook Pro 2019</p>
        </article>
      </div>
      <div class="main__div">
        <img width="100%" src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" />

        <article class="main__div__article">
          <i id="envios" class="fa-solid fa-truck"></i>
          <p id="precios">$70.500</p>
          <p id="descuentos">10% off</p>
          <p id="descripciones">Samsung Galaxy S10</p>
        </article>
      </div>
      <div class="main__div">
        <img width="100%" src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart" />

        <article class="main__div__article">
          <i id="envios" class="fa-solid fa-truck"></i>
          <p id="precios">$23.200</p>
          <p id="descuentos">5% off</p>
          <p id="descripciones">SmartTV Samsung 43"</p>
        </article>
      </div>
    </section>
  </main>
  <footer>
    <section class="footer__section"><i class="fa-solid fa-credit-card"></i>
      <p>
      <h4 class="titulo_footer">
        Pagá con tarjeta o en efectivo</h4>
      </p>
      <a>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
        en puntos de pago. ¡Y siempre es seguro!
      </a>
    </section>
    <section class="footer__section"><i class="fa-solid fa-gift"></i>
      <h4>Envío gratis desde $ 2.500
      </h4>
      <p>Solo por estar registrad@ en Mercado Liebre tenés
        envíos gratis en miles de productos. Es un
        beneficio de Mercado Puntos.</p>
    </section>
    <section class="footer__section"><i class="fa-solid fa-user-shield"></i>
      <h4>
        Seguridad, de principio a ﬁn
      </h4>
      <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no
        hay nada que no puedas hacer, porque estás
        siempre protegid@</p>
    </section>
    <section class="footer__copyright">
      <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </section>
  </footer>
</body>

</html>