* {
  margin: 0;

  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color: #ffff;
}
.box__star{
margin: 20px;
display: inline-block;
}
/*header {
    font-family: "Montserrat", sans-serif;
    background-color: white;
}*/
