@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import url("./variables.css");
@import url("./general.css");

/* HEADER*/
.header {

  color: white;
  background-color: var(--color-azul);
}

.header img {
  width: 300px;
}

.header__a--logo {
  display: block;
  margin: 0px;
  padding: 10px;
  text-transform: uppercase;

  color: #ffffff;
}

.header__menu {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background-color: var(--color-verde);
}

.nav--principal {}

.nav--principal ul {
  list-style: none;
  display: none;

}

/*MAIN*/
.main {

  text-align: center;
  color: #ffffff;
}

.main__sectionTitulo {
  background-color: var(--color-verde)
}

.main__titulo {
  text-align: center;
  display: inline-block;
  margin: 0px;
  padding: 20px;
  padding-top: 0px;

}

.main__banner {
  display: block;
  margin: 0px;
  padding: 0px;
  background-color: var(--color-verde);
  color: #ffffff;
}

.main__banner--img {
  display: block;
  margin: 0 auto;
  padding: 30px;

}

.main__about {
  background-color: var(--color-verde);
  text-align: center;
  color: white;
}

.main__portfolio {
  text-align: center;
  color: var(--color-azul)
}

.main__portfolio img {
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 10px;
  padding: 10px;
  background-color: #ffffff;
  text-align: center;
  vertical-align: top;
}

/* SECTION -- BANNER */
.section {}

.section__portfolio {}

/*FOOTER*/
.footer {
  background-color: var(--color-azul);
  text-align: center;
  color: white;
}

.footer__article {
  background-color: #ffffff;
}

.footer__article__h3 {
  background-color: white;
  color: var(--color-azul);
}

.footer__article__2 {
  color: #ffffff;
}

.footer__article__3 {
  color: var(--color-verde);
}

.caja {}